.item {
    width: 355px;
    min-height: 360px;
    font-size: 10px;
    padding: 10px 10px;
    background: gold;
    text-align: center;
}

.icon {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background-color: blue;
}

.description {

}