.about {
    min-height: 900px ;
    background-color: cornsilk;
    text-align: center;
}

.wrap {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    border: 1px solid;
}

.gridItem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    grid-gap: 1rem;
    grid-auto-flow: dense;
    justify-content: center;
}